.inputGroupForm {
  display: flex;
  gap: 8px;
  height: 54px;
  width: 100%;
  max-width: 736px;
}

.inputGroupForm input {
  border-radius: 8px;
  flex: 1;
  border: 0;
  padding: 0 8px;
}

.inputGroupForm input:focus{
  outline-color: var(--color-purple);
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 0 0 0 2px var(--color-purple);
}

.inputGroupForm button {
  border-radius: 8px;
  background: #0D0D0D;
  width: 90px;
  background: var(--color-blue);
  color: var(--color-text);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.inputGroupForm button:hover {
  filter: brightness(0.9);
}

.inputGroupForm button img {
  width: 16px;
  height: 16px;
}
